body {
    background-color: #c2b4b4;
    margin: 0;
}

.form-control {
    margin: auto;
    width: 380px;
}

.cryptio {
    text-align: center;
    background-color: #ffffff1c;
}

.developer {

    background-color: #ffffff1c;
    text-align: center;
    margin-top: 500px;
}

.cryptcode {
    margin: auto;
    margin-top: 10px;
    display: flex;
    background-color: #ffffff1c;
    width: 500px;
    border-radius: 20px;
    justify-content: center;
    gap: 3px;
    height: 40px;
}

button {
    height: 40px;
}

a {
    color: #968787;
    text-decoration: none;
}

.kataGEN {
    background-color: #c2b4b4;
    display: flex;
    font-size: 70px;
    width: 260px;
    margin: auto;
    margin-top: 20px;
}

.info {
    display: flex;
    background-color: #363636;
    color: #d3cbcb;
}

.animate__fadeInUpBig {
    animation-duration: 2s;
}

.results {
    text-align: center;
    margin-top: 10px;
}

.name {
    font-size: 50px;
    user-select: none;
}

.name:hover {
    text-transform: uppercase;
}

.theme {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#theme {
    margin-left: 10px;
}

.dtheme {
    background-color: #39404b;
    transition: 1s;
    color: #c7c3d6;
}

input {
    color: black;
}

.bag {
    background-color: #362e2e4f;
    width: 50px;
    border-radius: 10px;
    border: solid 2px #8080804b;
}

.bag:focus {
    border: solid 4px #8080804b;
}

.shopmenu {
    background-color: #ffffff67;
    background-image: url(/assets/bag_16474510.png);
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin: auto;
    color: #39404b;
}

.textshopmenu {
    font-size: 20px;
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 20px;
}

.shopimg {
    width: 208px;
    margin-top: 40px;
    height: 208px;
    justify-content: center;
    border: solid 4px #39404b;
    margin-left: 30%;
    background-color: white;
}

.shopbtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shophref {
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 10px;
}

.btnclose{
    background-color: #39404b00;
    border: none;
}